Repository Team-Hankki/hankki-server, pull requests merged in 2024-07, with the labels that each got.

#7 [feat] database 초기 엔티티 구성 및 개발
  src/main/java/org/hankki/hankkiserver/domain/common/BaseCreatedAtEntity.java
  src/main/java/org/hankki/hankkiserver/domain/common/BaseTimeEntity.java
  src/main/java/org/hankki/hankkiserver/domain/common/Point.java
  src/main/java/org/hankki/hankkiserver/domain/config/JpaAuditingConfig.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/model/Favorite.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/repository/FavoriteRepository.java
  src/main/java/org/hankki/hankkiserver/domain/favoritestore/model/FavoriteStore.java
  src/main/java/org/hankki/hankkiserver/domain/favoritestore/repository/FavoriteStoreRepository.java
  src/main/java/org/hankki/hankkiserver/domain/heart/model/Heart.java
  src/main/java/org/hankki/hankkiserver/domain/heart/repository/HeartRepository.java
  src/main/java/org/hankki/hankkiserver/domain/menu/model/Menu.java
  src/main/java/org/hankki/hankkiserver/domain/menu/repository/MenuRepository.java
  src/main/java/org/hankki/hankkiserver/domain/report/model/Report.java
  src/main/java/org/hankki/hankkiserver/domain/report/repository/ReportRepository.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/Store.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/StoreCategory.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/StoreImage.java
  src/main/java/org/hankki/hankkiserver/domain/store/repository/StoreImageRepository.java
  src/main/java/org/hankki/hankkiserver/domain/store/repository/StoreRepository.java
  src/main/java/org/hankki/hankkiserver/domain/university/model/University.java
  src/main/java/org/hankki/hankkiserver/domain/university/repository/UniversityRepository.java
  src/main/java/org/hankki/hankkiserver/domain/universitystore/model/UniversityStore.java
  src/main/java/org/hankki/hankkiserver/domain/universitystore/repository/UniversityStoreRepository.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/MemberStatus.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/Platform.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/User.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserInfo.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserRole.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserInfoRepository.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserRepository.java
Labels: db

#10 [feat] 소셜 로그인 구현
  build.gradle
  src/main/java/org/hankki/hankkiserver/HankkiserverApplication.java
  src/main/java/org/hankki/hankkiserver/auth/UserAuthentication.java
  src/main/java/org/hankki/hankkiserver/auth/UserId.java
  src/main/java/org/hankki/hankkiserver/auth/UserIdArgumentResolver.java
  src/main/java/org/hankki/hankkiserver/auth/config/SecurityConfig.java
  src/main/java/org/hankki/hankkiserver/auth/config/WebConfig.java
  src/main/java/org/hankki/hankkiserver/auth/filter/ExceptionHandlerFilter.java
  src/main/java/org/hankki/hankkiserver/auth/filter/JwtAuthenticationFilter.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/JwtGenerator.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/JwtProvider.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/JwtValidator.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/Token.java
  src/main/java/org/hankki/hankkiserver/common/ApiResponse.java
  src/main/java/org/hankki/hankkiserver/common/BaseResponse.java
  src/main/java/org/hankki/hankkiserver/common/GlobalExceptionHandler.java
  src/main/java/org/hankki/hankkiserver/common/dto/ErrorMessage.java
  src/main/java/org/hankki/hankkiserver/common/dto/SuccessMessage.java
  src/main/java/org/hankki/hankkiserver/controller/AuthController.java
  src/main/java/org/hankki/hankkiserver/domain/BaseTimeEntity.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/MemberStatus.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/Platform.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/User.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserInfo.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserInfoRepository.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserRepository.java
  src/main/java/org/hankki/hankkiserver/exception/BusinessException.java
  src/main/java/org/hankki/hankkiserver/exception/EntityNotFoundException.java
  src/main/java/org/hankki/hankkiserver/exception/InvalidValueException.java
  src/main/java/org/hankki/hankkiserver/exception/UnauthorizedException.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/AppleClientSecretGenerator.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/AppleFeignClient.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/AppleIdentityTokenParser.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/AppleOAuthProvider.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/ApplePrivateKeyGenerator.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/ApplePublicKeyGenerator.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/dto/ApplePublicKey.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/dto/ApplePublicKeys.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/dto/AppleRevokeRequest.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/dto/AppleTokenRequest.java
  src/main/java/org/hankki/hankkiserver/oauth/apple/dto/AppleTokenResponse.java
  src/main/java/org/hankki/hankkiserver/oauth/dto/SocialInfoDto.java
  src/main/java/org/hankki/hankkiserver/oauth/kakao/KakaoAccessToken.java
  src/main/java/org/hankki/hankkiserver/oauth/kakao/KakaoFeignClient.java
  src/main/java/org/hankki/hankkiserver/oauth/kakao/KakaoOAuthProvider.java
  src/main/java/org/hankki/hankkiserver/oauth/kakao/dto/KakaoAccount.java
  src/main/java/org/hankki/hankkiserver/oauth/kakao/dto/KakaoUserInfo.java
  src/main/java/org/hankki/hankkiserver/oauth/kakao/dto/KakaoUserProfile.java
  src/main/java/org/hankki/hankkiserver/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/service/dto/request/UserLoginRequest.java
  src/main/java/org/hankki/hankkiserver/service/dto/response/UserLoginResponse.java
  src/main/java/org/hankki/hankkiserver/service/dto/response/UserReissueResponse.java
  src/main/resources/application.yml
Labels: feature, login

#26 [fix] add whiteList
  src/main/java/org/hankki/hankkiserver/auth/config/SecurityConfig.java
Labels: fix

#29 [fix] redis 의존성 삭제
  build.gradle
Labels: fix

#34 [docs] create readme
  README.md
Labels: docs

#40 [feat] redis 의존성 추가 및 유저의 대학교 설정 정보 저장 및 조회 api 생성
  build.gradle
  src/main/java/org/hankki/hankkiserver/api/user/controller/UserController.java
  src/main/java/org/hankki/hankkiserver/api/user/controller/request/UserUniversityPostRequest.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserCommandService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserQueryService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserUniversityDeleter.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserUniversityFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserUniversityUpdater.java
  src/main/java/org/hankki/hankkiserver/api/user/service/command/UserUniversityPostCommand.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserUniversityFindResponse.java
  src/main/java/org/hankki/hankkiserver/common/code/UserUniversityErrorCode.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserUniversity.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserUniversityRepository.java
Labels: infra, api

#31 [feat] 조회수 조희 API
  src/main/java/org/hankki/hankkiserver/api/report/controller/ReportController.java
  src/main/java/org/hankki/hankkiserver/api/report/service/ReportFinder.java
  src/main/java/org/hankki/hankkiserver/api/report/service/ReportQueryService.java
  src/main/java/org/hankki/hankkiserver/api/report/service/response/ReportServiceResponse.java
Labels: api

#45 [feat] 대학, 종류, 가격대, 정렬 드롭다운 정보조회 api 생성
  src/main/java/org/hankki/hankkiserver/api/store/controller/StoreController.java
  src/main/java/org/hankki/hankkiserver/api/store/parameter/PriceCategory.java
  src/main/java/org/hankki/hankkiserver/api/store/parameter/SortOption.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreQueryService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/CategoriesResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/CategoryResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/PriceCategoriesResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/PriceCategoryResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/SortOptionResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/SortOptionsResponse.java
  src/main/java/org/hankki/hankkiserver/api/university/controller/UniversityController.java
  src/main/java/org/hankki/hankkiserver/api/university/service/UniversityFinder.java
  src/main/java/org/hankki/hankkiserver/api/university/service/UniversityQueryService.java
  src/main/java/org/hankki/hankkiserver/api/university/service/response/UniversitiesResponse.java
  src/main/java/org/hankki/hankkiserver/api/university/service/response/UniversityFindResponse.java
  src/main/java/org/hankki/hankkiserver/domain/common/Point.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/StoreCategory.java
Labels: api

#23 [feat] 족보 생성 삭제 API
  src/main/java/org/hankki/hankkiserver/api/favorite/controller/FavoriteController.java
  src/main/java/org/hankki/hankkiserver/api/favorite/controller/request/FavoriteDeleteRequest.java
  src/main/java/org/hankki/hankkiserver/api/favorite/controller/request/FavoritePostRequest.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteCommandService.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteDeleter.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteFinder.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteUpdater.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoritePostCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoritesDeleteCommand.java
  src/main/java/org/hankki/hankkiserver/api/favoritestore/service/FavoriteStoreDeleter.java
  src/main/java/org/hankki/hankkiserver/common/code/FavoriteErrorCode.java
  src/main/java/org/hankki/hankkiserver/common/code/FavoriteStoreErrorCode.java
  src/main/java/org/hankki/hankkiserver/common/code/UserErrorCode.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/model/Favorite.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/repository/FavoriteRepository.java
  src/main/java/org/hankki/hankkiserver/domain/favoritestore/model/FavoriteStore.java
  src/main/java/org/hankki/hankkiserver/domain/favoritestore/repository/FavoriteStoreRepository.java
Labels: feature

#49 [feat] 식당 썸네일 조회 api 생성
  src/main/java/org/hankki/hankkiserver/api/store/controller/StoreController.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreQueryService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/StoreThumbnailResponse.java
  src/main/java/org/hankki/hankkiserver/common/code/StoreErrorCode.java
  src/main/java/org/hankki/hankkiserver/domain/store/repository/StoreRepository.java
Labels: api

#52 [refac] 회원 탈퇴 시 카카오 서버와 연결 끊기
  src/main/java/org/hankki/hankkiserver/api/auth/controller/AuthController.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/User.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/AppleOAuthProvider.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/kakao/KakaoFeignClient.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/kakao/KakaoOAuthProvider.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/kakao/dto/KakaoUnlinkRequest.java
Labels: login, refactoring

#43 [feat] 식당 좋아요 관련 api
  src/main/java/org/hankki/hankkiserver/api/advice/GlobalExceptionHandler.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/UserFinder.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/UserInfoDeleter.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/UserInfoFinder.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/UserInfoUpdater.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/UserUpdater.java
  src/main/java/org/hankki/hankkiserver/api/store/controller/StoreController.java
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartCommandService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartDeleter.java
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartUpdater.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/command/StoreDeleteCommand.java
  src/main/java/org/hankki/hankkiserver/api/store/service/command/StorePostCommand.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/HeartCreateResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/HeartDeleteResponse.java
  src/main/java/org/hankki/hankkiserver/common/code/HeartErrorCode.java
  src/main/java/org/hankki/hankkiserver/common/exception/ConflictException.java
  src/main/java/org/hankki/hankkiserver/domain/favoritestore/model/FavoriteStore.java
  src/main/java/org/hankki/hankkiserver/domain/heart/model/Heart.java
  src/main/java/org/hankki/hankkiserver/domain/heart/repository/HeartRepository.java
  src/main/java/org/hankki/hankkiserver/domain/menu/model/Menu.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/Store.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserInfo.java
Labels: feature, api

#64 [fix] 애플 로그인 문제 해결하기
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/ApplePublicKeyGenerator.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/ApplePublicKey.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/ApplePublicKeys.java
Labels: login, fix

#55 [feat] 식당 세부 정보 조회 api
  src/main/java/org/hankki/hankkiserver/api/menu/service/MenuFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/controller/StoreController.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreQueryService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/MenuResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/StoreGetResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/StoreThumbnailResponse.java
  src/main/java/org/hankki/hankkiserver/domain/menu/repository/MenuRepository.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/Store.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/StoreImage.java
  src/main/java/org/hankki/hankkiserver/domain/store/repository/StoreRepository.java
Labels: api

#69 [feat] 사용자 닉네임, 프로필 조회 API
  src/main/java/org/hankki/hankkiserver/api/user/controller/UserController.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserQueryService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserProfileAndNicknameResponse.java
Labels: api

#58 [feat] 마이페이지 족보 리스트 API
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/controller/UserController.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserQueryService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserFavoriteResponse.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserFavoritesGetResponse.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/model/Favorite.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/repository/FavoriteRepository.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/Store.java
Labels: api

#65 [feat] 족보에 가게 추가 삭제 API 구현
  src/main/java/org/hankki/hankkiserver/api/favorite/controller/FavoriteController.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteCommandService.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteDeleter.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteFinder.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoritePostCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoriteStoreDeleteCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoriteStorePostCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoriteStoreFindResponse.java
  src/main/java/org/hankki/hankkiserver/api/favoritestore/service/FavoriteStoreDeleter.java
  src/main/java/org/hankki/hankkiserver/api/favoritestore/service/FavoriteStoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/favoritestore/service/FavoriteStoreUpdater.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserFavoriteResponse.java
  src/main/java/org/hankki/hankkiserver/common/code/FavoriteStoreErrorCode.java
  src/main/java/org/hankki/hankkiserver/common/exception/NotFoundException.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/model/Favorite.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/model/FavoriteImage.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/repository/FavoriteRepository.java
  src/main/java/org/hankki/hankkiserver/domain/favoritestore/model/FavoriteStore.java
  src/main/java/org/hankki/hankkiserver/domain/favoritestore/repository/FavoriteStoreRepository.java
Labels: api

#83 [feat] 좋아요 전체 갯수 응답값 추가
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartCommandService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/HeartCreateResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/HeartDeleteResponse.java
  src/main/java/org/hankki/hankkiserver/domain/heart/repository/HeartRepository.java
Labels: api

#72 [feat] 이미 등록된 식당인지 판별하는 API
  src/main/java/org/hankki/hankkiserver/api/advice/GlobalExceptionHandler.java
  src/main/java/org/hankki/hankkiserver/api/auth/controller/AuthController.java
  src/main/java/org/hankki/hankkiserver/api/auth/controller/request/UserLoginRequest.java
  src/main/java/org/hankki/hankkiserver/api/store/controller/StoreController.java
  src/main/java/org/hankki/hankkiserver/api/store/controller/request/StoreDuplicateValidationRequest.java
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreQueryService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/UniversityStoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/command/StoreValidationCommand.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/StoreDuplicateErrorResponse.java
  src/main/java/org/hankki/hankkiserver/api/user/controller/UserController.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserQueryService.java
  src/main/java/org/hankki/hankkiserver/common/code/StoreErrorCode.java
  src/main/java/org/hankki/hankkiserver/domain/heart/model/Heart.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/Store.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/StoreCategory.java
  src/main/java/org/hankki/hankkiserver/domain/store/repository/StoreRepository.java
  src/main/java/org/hankki/hankkiserver/domain/universitystore/model/UniversityStore.java
  src/main/java/org/hankki/hankkiserver/domain/universitystore/repository/UniversityStoreRepository.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserInfo.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserInfoRepository.java
Labels: api

#97 [fix] 식당 검색 api 응답 결과 수정
  src/main/java/org/hankki/hankkiserver/api/external/service/response/LocationResponse.java
Labels: bug

#100 [fix] Get 요청 -> Post 요청으로 수정
  src/main/java/org/hankki/hankkiserver/api/store/controller/StoreController.java
Labels: fix, api

#102 [feat] 500에러 로그 포맷 변경
  src/main/java/org/hankki/hankkiserver/api/advice/GlobalExceptionHandler.java
Labels: enhancement

#96 [fix] enum 변수명 fix
  src/main/java/org/hankki/hankkiserver/domain/favorite/model/Favorite.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/model/FavoriteImage.java
Labels: fix, api

#110 [refac] S3 연동으로 store 디폴트 이미지 리턴 방식 수정
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoriteStoreFindResponse.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/Store.java
Labels: refactoring, api

#111 [feat] 사용자 대학교 설정 정보 생성 API valid 검증 추가
  src/main/java/org/hankki/hankkiserver/api/user/controller/request/UserUniversityPostRequest.java
Labels: feature, api

#81 [feat] 사용자가 좋아요를 한 가게들의 정보들을 불러오는 api
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/controller/UserController.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserQueryService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserHeartedStoreListResponse.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserHeartedStoreViewResponse.java
  src/main/java/org/hankki/hankkiserver/domain/heart/repository/HeartRepository.java
Labels: api

#71 [feat] 사용자 족보 목록 - 바텀시트뷰 API 구현
  src/main/java/org/hankki/hankkiserver/api/favorite/controller/FavoriteController.java
  src/main/java/org/hankki/hankkiserver/api/favorite/controller/request/FavoritesGetRequest.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteFinder.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteQueryService.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoriteGetCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoritesGetCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoritesWithStatusGetCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoriteFindResponse.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoriteGetResponse.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoriteStoreResponse.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoriteWithStatusResponse.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoritesWithStatusGetResponse.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/util/FavoriteResponseUtil.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserFavoriteResponse.java
  src/main/java/org/hankki/hankkiserver/domain/favorite/repository/FavoriteRepository.java
Labels: api

#84 [feat] 마이페이지 - 사용자가 제보한 가게 API
  src/main/java/org/hankki/hankkiserver/api/report/service/ReportFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/controller/UserController.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserQueryService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserStoreReportedResponse.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserStoresReportedGetResponse.java
  src/main/java/org/hankki/hankkiserver/domain/report/repository/ReportRepository.java
Labels: api

#123 [refac] 안쓰는 import문 삭제
  src/main/java/org/hankki/hankkiserver/HankkiserverApplication.java
  src/main/java/org/hankki/hankkiserver/api/advice/ResponseAdvice.java
  src/main/java/org/hankki/hankkiserver/api/favorite/controller/FavoriteController.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteDeleter.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteQueryService.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoriteStoreDeleteCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/command/FavoriteStorePostCommand.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/response/FavoriteGetResponse.java
  src/main/java/org/hankki/hankkiserver/api/favoritestore/service/FavoriteStoreDeleter.java
  src/main/java/org/hankki/hankkiserver/api/favoritestore/service/FavoriteStoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/controller/StoreController.java
  src/main/java/org/hankki/hankkiserver/api/store/controller/request/StorePostRequest.java
  src/main/java/org/hankki/hankkiserver/api/store/parameter/PriceCategory.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreFinder.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/StoreDuplicateErrorResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/StorePinsResponse.java
  src/main/java/org/hankki/hankkiserver/api/store/service/response/StoreResponse.java
  src/main/java/org/hankki/hankkiserver/api/university/service/UniversityFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/controller/request/UserUniversityPostRequest.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserStoreReportedResponse.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserStoresReportedGetResponse.java
  src/main/java/org/hankki/hankkiserver/api/user/service/response/UserUniversityFindResponse.java
  src/main/java/org/hankki/hankkiserver/auth/filter/JwtAuthenticationFilter.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/JwtValidator.java
  src/main/java/org/hankki/hankkiserver/common/code/AuthErrorCode.java
  src/main/java/org/hankki/hankkiserver/common/code/CommonSuccessCode.java
  src/main/java/org/hankki/hankkiserver/domain/store/repository/StoreRepository.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserRepository.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/ApplePublicKeys.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/kakao/KakaoFeignClient.java
Labels: refactoring

#132 [feat] 애플 회원 탈퇴 오류 로그 확인
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/AppleTokenResponse.java
Labels: enhancement, login

#135 [Fix] 애플 로그인 (회원탈퇴) 오류 수정
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/AppleClientSecretGenerator.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/AppleFeignClient.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/AppleOAuthProvider.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/ApplePrivateKeyGenerator.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/AppleRevokeRequest.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/AppleTokenRequest.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/AppleTokenResponse.java
Labels: login, fix

#137 [fix] 회원 탈퇴 에러 수정
  src/main/java/org/hankki/hankkiserver/api/auth/controller/AuthController.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserInfo.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserInfoRepository.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/AppleFeignClient.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/AppleOAuthProvider.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/AppleRevokeRequest.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/apple/dto/AppleTokenRequest.java
Labels: login, fix

#140 [fix] 프로필 이미지 변경 이슈 수정
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
Labels: login, fix

#141 [refac] 엔티티 필드 이름 변경 및 generation strategy 추가
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/UserFinder.java
  src/main/java/org/hankki/hankkiserver/domain/menu/model/Menu.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/User.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/UserStatus.java
  src/main/java/org/hankki/hankkiserver/domain/user/repository/UserRepository.java
Labels: bug
