Repository Team-Hankki/hankki-server, pull requests merged in 2025-01, with the labels that each got.

#244 [refac] 메뉴 추가 시 발생 쿼리문 개선
  src/main/java/org/hankki/hankkiserver/api/menu/service/MenuCommandService.java
Labels: enhancement, api

#249 [fix] 좋아요 수 동시성 이슈 처리
  build.gradle
  src/main/java/org/hankki/hankkiserver/api/common/annotation/Retry.java
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartCommandService.java
  src/main/java/org/hankki/hankkiserver/common/aspect/RetryAspect.java
  src/main/java/org/hankki/hankkiserver/common/code/HeartErrorCode.java
  src/main/java/org/hankki/hankkiserver/domain/store/model/Store.java
Labels: fix

#255 [feat] add auto creation of release
  .github/workflows/prod-cd.yml
Labels: feature

#253 [refac] 인증 비즈니스 로직 리팩토링
  README.md
  src/main/java/org/hankki/hankkiserver/api/auth/controller/AuthController.java
  src/main/java/org/hankki/hankkiserver/api/auth/controller/request/UserLoginRequest.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthFacade.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/AuthService.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/ExternalService.java
  src/main/java/org/hankki/hankkiserver/api/auth/service/response/UserInfoResponse.java
  src/main/java/org/hankki/hankkiserver/api/common/advice/GlobalExceptionHandler.java
  src/main/java/org/hankki/hankkiserver/api/config/WebConfig.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteCommandService.java
  src/main/java/org/hankki/hankkiserver/api/favorite/service/FavoriteQueryService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/HeartCommandService.java
  src/main/java/org/hankki/hankkiserver/api/store/service/StoreCommandService.java
  src/main/java/org/hankki/hankkiserver/api/universitystore/service/UniversityStoreCommandService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserInfoFinder.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserInfoUpdater.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserQueryService.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserUniversityDeleter.java
  src/main/java/org/hankki/hankkiserver/api/user/service/UserUpdater.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/JwtProvider.java
  src/main/java/org/hankki/hankkiserver/auth/jwt/JwtValidator.java
  src/main/java/org/hankki/hankkiserver/common/code/AuthErrorCode.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/Platform.java
  src/main/java/org/hankki/hankkiserver/domain/user/model/User.java
  src/main/java/org/hankki/hankkiserver/external/openfeign/oauth/apple/AppleOAuthProvider.java
Labels: api, size/L
